$t: 1.8s;
$d: 0.1em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: #fff;
$back: #A65353;

.popout{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 190px;
	@media(max-width: 1351px) {
		font-size: 150px;
	}
	@media(max-width: 1019px) {
		font-size: 120px;
	}
	@media(max-width: 825px) {
		font-size: 80px;
	}
	@media(max-width: 573px) {
		font-size: 60px;
	}
	@media(max-width: 459px) {
		font-size: 45px;
	}
	@media(max-width: 363px) {
		font-size: 35px;
	}
	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
		100%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}
	}
	
}