.about-cart {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid #fff;
  &-title {
    font-size: 30px;
    font-weight: 600;
  }
}
.about-cart-img {
  img {
    width: 300px;
    border-radius: 5px;
  }
}
