.about-cart {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  @media (max-width: 657px) {
    flex-direction: column;
  }
  &-title {
    font-size: 30px;
    font-weight: 600;
  }
}
.about-cart-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-cart-img {
  img {
    width: 300px;
    border-radius: 100%;
  }
}
